.chooseUs{
    width: 100vw;
    padding: 0% 12.5% 5% 12.5%;
    margin: 100px auto;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../images/chooseUs/bg.png');
    background-repeat: no-repeat;
    background-position-y: 280px;
    background-position-x: 1px;
}

.chooseContainers{
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.why{
    width: 35%;
}

.why2{
    width: 57%;
}
.why2sub{
    width: 54%;
    display: flex;
    margin-bottom: 10px;
    perspective: 1000px;
    cursor: pointer;
}

.why2sub img{
    width: 130px !important;
    height: 110px !important;

    position: relative;
  /* width: 100%;
  height: 100%; */
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}


.why2sub > div{
    margin-left: 13px;
}

.why2sub h3{
    font-family: "Poppins", sans-serif !important;
    font-weight: 600;
    margin: 0;
}

.why2sub p{
    margin-top: 7px;
    line-height: 1.5rem;
}

.why2sub.active:hover > img{
    transform: rotateY(180deg);
    cursor: pointer;

  }

 