
.aboutUs{
    width: 71%;
    margin: 170px auto;
    margin-bottom: 150px;
    position: relative;
    display: flex;
}

.aboutUs > .yt_icon{
    font-size: 130px;
    color: #FF0000; 
    position: absolute;
    left: 320px;
    top: 370px;
    cursor: pointer;
    filter: brightness(0.95);
}
.yt_icon:hover{
    filter: brightness(1.2);
}

.aboutUs-text{
    margin-left: 100px;
    width: 45%;
}

.aboutUs-text > div{
    margin-top: 45px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.about > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.about > div > h4{
    color: #817f91;
    font-weight: 500;
    width: 50%;
    margin-left: 15px;
}

@media screen and (max-width: 1024px) {
    .aboutUs{
        flex-direction: column;
        width: 85%;
    }
    
    .yt_icon{
        display: none;
     }
    .aboutUs-text{
        width: 100%;
        margin: auto;
        margin-top: 100px;
    }
    
}
@media screen and (max-width: 500px) {
    .aboutUs > img{
        margin: auto;
        width: 100% !important;
        height: auto !important;
    }
    .aboutUs-text{
        margin-top: 60px;
    }
    .aboutUs-text > h1{
        font-size: 34px !important;
        line-height: 2.7rem !important;
        margin-bottom: 36px !important;
    }
     .aboutUs-text > h3{
        font-size: 21px;
        margin-bottom: 10px !important;
    }
    .aboutUs-text > div{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about{
        width: 48%;
    }
    
}