.planYourTrip{
    width: 75%;
    margin: auto;
    display: flex !important;
    flex-direction: column;
    margin-top: 10px !important;
    margin-bottom: 130px !important;
    align-items: center;
    text-align: center;
}

.section2Div{
    display: flex;
}

.sect2 > p{
    line-height:1.4; 
    font-size: 17px; 
    width: 70%; 
    align-items: center; 
    margin: 10px auto;
}
.sect2{
    cursor: pointer;

}

.sect2.active:hover > img {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;

  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }