/*Start of Top Navigation Section */
#Header{
    width: 75%;
    padding: 0 10%;
    background-color: transparent;
    z-index: 10;
    top: 0;
    left: 0;
    position: absolute;
    margin: auto;
}

.TopNavContainer{
    background-color: transparent;
    width: 77%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: auto;
    padding: 10px;
    padding-top: 20px;


}
.TopNavContainer button{
    padding: 5% 10%;
}

.Logo{
    width: 150px;
    /* object-fit: contain; */
}
.NavMenuUl {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* code for the hamburger icon starts*/
.hamburger{
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    align-self:center ;
    display: none;
    border-radius: 50%;
    align-items: center;
    position: relative;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
}
.hamburger:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius:50% ;
    animation: hamburger_pulse 1s ease infinite;
}
.hamburger .bar{
    height: 4px;
    width: 30px;
    position: relative;
    background-color: #ff5130;
    z-index: -1;
}
.hamburger .bar::after,
.hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #ff5130;
    transition: .3s ease;
    transition-property: top, bottom;
}
.hamburger .bar::after{
    top: 10px;
}
.hamburger .bar::before{
    bottom: 10px;
}
.hamburger.active .bar::before,
.hamburger.active .bar::after{
    top: 0;
    bottom: 0;
}
/* code for the hamburger icon end*/
.NavMenuLi  {
    padding: 10px 14px;
}
.NavMenuLi a, .SignRegister p{
    text-decoration: none;
    color: black;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.35s;
}
.NavMenuLi a:hover, .SignRegister p:hover{
    color: #ff5130;
    cursor: pointer;

}
.SignRegister{
    width: 20%;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.NavMenuUl{
    display: flex;
}
button{
    padding: 15px 25px !important;

}
button:hover::before{
    width: 450px;
    height: 450px;
  }
  .times{
    display: none;
    position: absolute;
    right: 29px;
    top: 25px;
  }

/* Responsive code */
@media screen and (max-width: 1360px) {
    .TopNavContainer{
        width: 85%;
    }
    .SignRegister{
        width: auto;
    }
    .SignRegister p{
        width: 4rem;
    }
    
}
@media screen and (max-width: 1200px)  {
    .TopNavContainer{
        width: 90%;
        padding: auto;
    }
    .NavMenuLi{
        padding: 10px 10px ;
    }
    
}
@media screen and (max-width: 1024px) {
    .LogoBox{
        width: auto;
    }
    /* .SignRegister{
        display: none;
    } */
    .hamburger{
        display: flex;
        cursor: pointer;
        z-index: 100;
    }
    .times{
        display: block;
        color: orangered;
    }
    .NavMenuContainer {
        width: 100%;
        align-items: flex-end;
        justify-content: flex-end;
        display: flex;
    }
    .NavMenuContainer .NavMenuUl{
        list-style: none;
        position: absolute;
        background-color: black;
        width: 100%;
        height: 100vh;
        left: -110%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        z-index: 1;
        overflow-x: hidden;
        transition: .5s ease left;
        text-align: center;
    }
    .NavMenuContainer .NavMenuUl.active{
        left: -5%;
        width: 110%;
        /* height: 100%; */
        text-align: center;
        /* position: fixed; */
        /* overflow: hidden; */
    }

    
    
    .NavMenuContainer .NavMenuUl.active > .NavMenuLi{
        width: 40%;
        margin: 0 auto;
    }

    .NavMenuContainer .NavMenuUl a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        padding: auto;
        display: block;
        
    }
    .NavMenuContainer .NavMenuUl a:hover{
        color: #acaaaa;
    }
    .NavMenuContainer .NavMenuUl .NavMenuLi:hover a::after{
        transform: translate(-50%, -50%) scale(1);
        letter-spacing: initial;
    }
    .NavMenuLi::after{
        height: 0px;
    }
}
@media screen and (max-width: 500px){
    .Logo{
        width: 100px;
    }
}
@media screen and (max-width: 320px){
    
}