.bookForm{
    position: relative;
    width: 73%;
    background-color: white;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 12.5%);
    margin: 135px auto;
    margin-top: 170px;
    padding: 30px 40px;
    border-radius: 4px;
    background-image: url("../images/book-car/book-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

}


.formFlexdiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.bookForm-carType, .box-form__car-time{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 15px;
    width: 31%;

}

.bookForm-carType .icon, .box-form__car-time .icon{
    color: orangered;
    margin-left: 0;
    padding-left: 2px;
}
.bookForm label{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.bookForm input, select{
    padding: 17px 20px !important;
    border: 1px solid rgb(191, 220, 229);
    border-radius: 3px;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    color: #817f91d9;
}

.btn3:hover::before{
    width: 550px;
    height: 550px;
  }

    @media screen and (max-width: 660px){
        .bookForm{
            margin-top: 100px;
        }
        .bookForm input{
            width: 255px;
            height: 54px;
            padding: 0 0 0 20px !important;
        }
        .bookForm select{
            width: 274px;
            height: 54px;
            padding: 0 0 0 20px !important;
        }
        .formHeader{
            flex-direction: column;
            align-items: start !important;
        }
        .formHeader > h4{
            margin-top: 0;
            /* transform: scale(0.6); */
        }
        .formFlexdiv{
            flex-direction: column;
        }
        .formFlexdiv > div {
            width: 100% !important;
        }
        .formFlexdiv > button{
            width: 100% !important;
            align-self: flex-start !important; 
            margin-top: 20px;
            padding: 18px 35px !important;
            border-radius: 4px;
        }
    }