.aboutDiv{
    position: relative;
    width: 77%;
    margin: 60px auto;
}

.homeLink{
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.a-Tag, .homeLink > p{
    color: black;
    text-decoration: none;
    transition: all 0.35s;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;

}
.a-Tag:hover{
    color: orangered;
}
.homeLink > p{
    margin: 0;
}