.miniBanner{
    height: 20vh;
    width: 100vw;
    position: relative;
    opacity: 0.9;
    margin-bottom: 100px;
}

.bannerImg{
    position: absolute;
    z-index: 0;
    filter:brightness(0.3);
}

.banner-text{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
    align-items: center;
}

.banner-text > h2{
    color: white;
    font-size: 35px;
}

.h2{
    font-family: "Rubik", sans-serif;
    color: orangered !important;
    filter: brightness(0.9);

}
.h2:hover{
    filter: brightness(1.2);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.5s;
}

.phoneIcon{
    margin-right: 10px;
}